/*CSS*/


/*INSCRIPTION ET CONNEXION*/

.container {
	background: url(../images/connexion/bg_connexion.jpg) no-repeat; 
 	background-size: cover; /* version standardisée */
	height: 100vh;
	text-align:center;
}

h1 {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 80px;
}

.connexion {
	display:inline-block;
	width: 500px;
	background-color: #a5e93e;
 	box-shadow: 1px 1px 12px #555;
	border-radius: 10px;
	padding:50px 50px;
}
.connexion h2 {
	font-size: 40px;
	padding-bottom: 35px;
	font-family: 'Fredoka One', cursive;
	text-align: center;
	color: #e04312;
	text-shadow: #fff 2px 2px, #fff -2px 2px, #fff -2px -2px, #fff 2px -2px;
}

.connexion label  {
	display: block;
	margin:10px 0 5px 0;
	font: 15px "Open Sans";
	text-transform:uppercase;
	color: #e04312;
}

input {
	background-color:rgb(198, 234, 144);
	width:150px;
	height:20px;
	border:1px solid rgb(151, 175, 51);
}

input.submit {
	background:url(../images/connexion/button_connect.png) no-repeat;
	background-size:cover;
	height:35px;
	width:150px;
	margin:30px 0 20px 0;
	font: 17px 'Fredoka One';
	color:#e04312;
	text-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
	border:none;
	text-transform:uppercase;
	background-color:#0BC119;*/
}

.connexion a {
	text-decoration: none;
	font: 16px 'Fredoka One';
	color:#fff;
	text-transform:uppercase;
}

.perso_utilisateur {
	position:fixed;
	left:600px;
	top:350px;
}

/*FIN INSCRIPTION ET CONNEXION*/

/*SALLE DE CLASSE*/
.salledeclasse {
	background: url(../images/salledeclasse/background.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	position:relative;
}

.salledeclasse header {
	padding:20px 50px 0 0;
	background-color: rgba(0, 0, 0, 0.4);
	height:60px;
}

.salledeclasse header ul li{
	display:inline-block;
	float:right;
	margin:0 15px;

}

.titrecours {
	font: 28px 'Fredoka One';
	text-transform:uppercase;
	text-align:center;
	padding:80px 0 30px 0;
}

.salledeclasse .formulaire ul li{
	text-align:center;
}

.salledeclasse .formulaire label {
	font:16px 'Open Sans';
}
.salledeclasse .formulaire input {
	background-color:rgb(204, 244, 186);
	border:none;
	width:200px;
	height:20px;
	margin:10px 0 10px 0;
}
.salledeclasse .formulaire input.submit {
	margin-top:20px;
	height:45px;
}

.salledeclasse .prof {
	position:fixed;
	top:200px;
	left:180px;
	height:80%;
}
/*FIN SALLE DE CLASSE*/

.infos {
	padding:20px 50px 0 0;
	background-color: rgba(0, 0, 0, 0.4);
	height:60px;
}

.infos ul li{
	display:inline-block;
	float:right;
	margin:0 15px;

}